/* Layout Principal */
.container {
  display: flex;
  height: 100vh;
}

/* Metade Esquerda (Mapa) */
.map-container {
  flex: 1; /* Ocupa metade da largura */
  background-color: #f0f0f0;
}

/* Metade Direita (Informações) */
.info-container {
  flex: 1; /* Ocupa metade da largura */
  padding: 20px;
  background-color: #ffffff;
}
