@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}

.container {
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("./images/bg-site.jpg");
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-family: "Quicksand", sans-serif;
  padding: 2rem;
}

.header .logo {
  margin-right: 30px;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
}

.content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  z-index: 1;
  overflow: auto;
}

.map-container {
  width: 50%; /* Ocupa metade da tela */
  height: 70vh; /* Diminui a altura do mapa para 75% da altura da tela */
  float: left;
  padding-top: 20spx;
}

.map-iframe {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.iframe-container {
  flex: 1;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.info-container {
  flex: 1;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  max-width: 600px;
  overflow-y: auto;
}

.info-container h2 {
  color: #333;
  font-family: "Quicksand", sans-serif;
}

.info-container ul {
  list-style: none;
  padding: 0;
}

.info-container li {
  margin-bottom: 10px;
}

.info-container a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.info-container a:hover {
  text-decoration: underline;
}

/* Fixando o footer no final da tela */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./images/bg-contato.jpg");
  color: white;
  font-family: "Quicksand", sans-serif;
  padding: 1rem;
  flex-direction: column;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0; /* Fixa o footer na parte inferior */
  z-index: 10; /* Coloca o footer acima do conteúdo */
}

.footer h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.footer p {
  margin-top: 5px;
  font-size: 1rem;
}

/* Ajustes para a StoreList */
.store-list {
  width: 50%; /* Ocupa metade da tela */
  height: calc(100vh - 120px); /* Ajuste para ocupar o espaço disponível */
  overflow-y: auto;
  padding: 20px;
  margin: 0px;
  float: right;
}

.store-item {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.store-image {
  flex-shrink: 0;
  margin-right: 15px;
}

.store-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.store-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.store-info h2 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.store-info p {
  margin: 5px 0;
  color: #666;
}

.store-list .tags {
  margin-top: 10px;
}

.store-list .tags ul {
  list-style-type: none;
  padding: 0;
}

.store-list .tags li {
  background-color: #f5a267;
  color: #333;
  padding: 5px 10px;
  margin: 5px 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
}

.store-list .tags li:hover {
  background-color: #ddd;
}

.tags {
  color: #333;
}

/* Ajuste do z-index para o modal */
.ReactModal__Overlay {
  z-index: 1000; /* Garante que o modal fique acima de outros elementos */
}

.ReactModal__Content {
  z-index: 1010; /* Garante que o conteúdo do modal fique acima do overlay */
}

/* Estilo básico para o layout das lojas */
.store-item {
  display: flex;
  margin-bottom: 20px;
}

.store-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.store-info {
  margin-left: 20px;
}

.store-img {
  width: 100%;
  height: 100%;
}

.tags ul {
  list-style-type: none;
  padding: 0;
}

.tags li {
  display: inline;
  margin-right: 10px;
}

/* Estilos do Modal */
.modal-content {
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

.modal-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-body {
  margin-bottom: 20px;
}

.modal-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.nearby-stores {
  display: flex;
  gap: 15px;
}

.nearby-store-card {
  width: 100px;
  text-align: center;
}

.nearby-store-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.nearby-store-name {
  font-size: 14px;
  font-weight: bold;
}

.nearby-store-floor {
  font-size: 12px;
  color: #777;
}

.modal-close-button {
  background-color: #ff5f5f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.modal-close-button:hover {
  background-color: #ff3f3f;
}
