@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}

.container {
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Alterado de height para min-height */
  background: url("./images/bg-site.jpg");
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-family: "Quicksand", sans-serif;
  padding: 2rem;
}

.header .logo {
  margin-right: 30px;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
}

.content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  z-index: 1;
  overflow: auto; /* Para que o conteúdo role */
}

.map-container {
  width: 50%; /* Ocupa metade da tela */
  height: calc(
    100vh - 80px
  ); /* Ajuste para ocupar o espaço disponível, levando em conta o header e footer */
  float: left;
}

.map-iframe {
  border-radius: 8px;
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.iframe-container {
  flex: 1;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.info-container {
  flex: 1;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  max-width: 600px;
  overflow-y: auto;
}

.info-container h2 {
  color: #333;
  font-family: "Quicksand", sans-serif;
}

.info-container ul {
  list-style: none; /* Remover os marcadores de lista */
  padding: 0;
}

.info-container li {
  margin-bottom: 10px; /* Espaçamento entre as lojas */
}

.info-container a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.info-container a:hover {
  text-decoration: underline;
}

/* Fixando o footer no final da tela */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./images/bg-contato.jpg");
  color: white;
  font-family: "Quicksand", sans-serif;
  padding: 1rem;
  flex-direction: column;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10; /* Coloca o footer acima do conteúdo */
}

.footer h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.footer p {
  margin-top: 5px;
  font-size: 1rem;
}

/* Ajustes para a StoreList */
.store-list {
  width: 50%; /* Ocupa metade da tela */
  height: calc(100vh - 80px); /* Ajuste para ocupar o espaço disponível */
  overflow-y: auto; /* Permite rolar as lojas */
  padding: 20px;
  margin: 0px;
  float: right; /* Fica do lado direito */
}

.store-item {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.store-image {
  flex-shrink: 0;
  margin-right: 15px;
}

.store-img {
  width: 70px;
  height: 70px;
  border-radius: 50%; /* Faz a imagem ficar redonda */
  object-fit: cover;
}

.store-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.store-info h2 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.store-info p {
  margin: 5px 0;
  color: #666;
}
